.Rhistory
.RData
.Rproj.user/
__pycache__/
*.pyc
.DS_Store

# Ironclad Cluster Ghost File Blocks
**/genomeBrowsers/boot/
**/genomeBrowsers/cm/
**/genomeBrowsers/afs/
**/visualization/*

# Block massive biology results files
*.bam
*.zip
